"Theory Question"

Ques1. What are data structures, and why are they important?

  Ans-> data structure is way to manage, organize and manipulate data in efficient way
  
  -> this is important b/c it takes less spaces, it takes less time to execute,
  different data have different data type but we can store these data into a single variable isted of using multiple variable

Ques2.  Explain the difference between mutable and immutable data types with examples

Ans-> the main difference is mutable data type can change their content but immutable data type can't change their content

.Ex-> list and dictionary,set is mutable but string,tuple is immutable

Ques3. What are the main differences between lists and tuples in Python?

Ans-> the main difference is lists are mutable it can change the value but tuple are immutable it can not change the value after initialization.

Ques4. Describe how dictionaries store data?

Ans-> dictionary are store data in querly braces and inside the bracket the data are stored with the help of "keys" and "value" pair.

Ques5. Why might you use a set instead of a list in Python?

Ans-> b/c set stored unique element duplicate data automatically removed but list does't stored unique element

Ques6.  What is a string in Python, and how is it different from a list?

Ans-> string is a sequence of character inside the single and double quote

. strings are different from list b/c it is collection of character but list are of any types like int,float, event string etc and second difference is string is immutable but list is muttable

Ques7.how do tuple ensur data intigrity in python?

Ans-> Tuples ensure data integrity in Python due to their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This property guarantees that the data stored within a tuple remains constant throughout the program's execution, preventing accidental or unintended modifications. This is particularly useful for representing fixed collections of data, like coordinates, configuration settings, or database records where the values should not be altered.

Ques8. What is a hash table, and how does it relate to dictionaries in Python?

Ans-> A hash table (also known as a hash map) is a data structure that stores data as key-value pairs. It uses a hash function to map keys to specific indices (buckets) within an array. This allows for efficient retrieval of values based on their corresponding keys, ideally in constant time (O(1)).


Python's built-in dictionaries are implemented using hash tables. When you store a key-value pair in a dictionary, Python calculates a hash value for the key and uses this hash to determine where to store the pair in the underlying hash table. When you retrieve a value using a key, Python again calculates the key's hash to quickly locate the corresponding value.

Ques9. Can lists contain different data types in Python?

Ans-> yes, list can contain different data type like string ,integer,float,complex no etc.

Ques10  Explain why strings are immutable in Python.

Ans-> strings are immutable b/c once a string created it can't change. any operation that appear to modify a string like concatination,replacement then new string object created original value remains same.

Q11 What advantages do dictionaries offer over lists for certain tasks?

Ans-> the value stored in dictionary both key and its value,but in list only elements are stored in sequential order

Ques12 Describe a scenario where using a tuple would be preferable over a list

Ans-> like aadhar card, atm number,pan number,and all senstive data which we don't need to change in future which means ones it is created it doesn't change.

Ques13.  How do sets handle duplicate values in Python?

Ans-> set simply remove the duplicate b/c set store only unique values .

Ques14.  How does the “in” keyword work differently for lists and dictionaries?

Ans->  "in" keyword to work in list to find the specfic element in the list whereas in dictionary "in" keyword work to find the "key" and "value"

Ques15. can you modify the element of tuple? explain wht or why not

Ans->  No, the elements of a tuple cannot be modified directly after the tuple has been created. This is because tuples are immutable data structures in Python.

Ques16. What is a nested dictionary, and give an example of its use case?

Ans-> A nested dictionary is a dictionary where the values associated with one or more keys are themselves dictionaries. This structure allows for the representation of hierarchical or multi-level data, where information can be organized in a more complex and structured manner than a simple key-value pair.

. example of usecase->  A common use case for nested dictionaries is storing and organizing data that has a clear hierarchical relationship, such as a database of students in a school, where each student has multiple attributes.
Consider managing student records in a school. Each student has a unique ID, and for each student, there are various details like name, age, and a list of subjects with their corresponding grades. This can be represented effectively using a nested dictionary:

Ques17.  Describe the time complexity of accessing elements in a dictionary?

Ans->    The time complexity of accessing elements in a dictionary is typically O(1) on average. This means that the time taken to retrieve a value by its key is constant and does not depend on the size of the dictionary. This efficiency is achieved because dictionaries are implemented as hash tables.

Ques18.  In what situations are lists preferred over dictionaries?

Ans-> list are prefered where order matter,sequential process,simple data storage etc

Ques19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries are considered "unordered" because their primary purpose is fast, key-based retrieval of values, not sequential access or preservation of insertion order.

.how does that affect data retirival?  -> key based access is etential,no position based retrival, etc

Ques20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-> List data retrival-> we can retrive data through "order collection", 'index based retrival', sequential search

. distionary data retrival-> we can retrive data through "keys valu pairs", 'keys based retrival',hasing for efficient

practical **question**

In [ ]:
#Ques1. Write a code to create a string with your name and print it
name="Dev Rathore"
print(name)

Dev Rathore

In [ ]:
#Ques2. Write a code to find the length of the string "Hello World"
str="Hello World"
print(len(str))

11

In [ ]:
#Ques3. Write a code to slice the first 3 characters from the string "Python Programming"
str="Python Programming"
print(str[:3])

Pyt

In [ ]:
#Ques4. Write a code to convert the string "hello" to uppercase

str="hello"
print(str.upper())

HELLO

In [ ]:
# Ques5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
str= " I like apple"
print(str)
print(str.replace("apple","orange"))

 I like apple
 I like orange

In [ ]:
#Ques6.  Write a code to create a list with numbers 1 to 5 and print.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# Ques7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4,]
print(list,"\n"+"after operation")
list.append(10)
print(list)

[1, 2, 3, 4]
after operation
[1, 2, 3, 4, 10]

In [ ]:
#Ques8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
print(list,"\n"+"after operation"+)
list.remove(3)
print(list)

[1, 2, 3, 4, 5]
after operation

[1, 2, 4, 5]

In [ ]:
#Ques8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
print(list,"\n"+"after operation"+)
list.remove(3)
print(list)

[1, 2, 3, 4, 5]
after operation

[1, 2, 4, 5]

In [ ]:
#Ques8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
print(list,"\n"+"after operation")
list.remove(3)
print(list)

[1, 2, 3, 4, 5]
after operation

[1, 2, 4, 5]

In [ ]:
#Ques9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [ ]:
#QUes10. Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50,]
list.reverse()
print(list,"\n"+"or")
list[:-1]
print(list)

[50, 40, 30, 20, 10]
or
[50, 40, 30, 20, 10]

In [ ]:
 #Ques11. Write a code to create a tuple with the elements 100, 200, 300 and print it
 tuple=(100,200,300)
 print(tuple)

(100, 200, 300)

In [ ]:
# Ques12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red','green','blue','yellow')
tuple[1:]

('green', 'blue', 'yellow')

In [ ]:
#Ques13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple=(10,20,5,15)
minimumtuple=min(tuple)
print(minimumtuple)

5

In [ ]:
 #ques14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
 tuple=('dog','cat','rabbit')
tup=tuple.index("cat")
print(tup)

1

In [ ]:
# Ques 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=('apple','banana','kiwi','grapes')

if ('kiwi' in tuple):
    print("kiwi is present in the tuple list")
else:
    print("kiwi is not present")

kiwi is present in the tuple list

In [ ]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it
set={'A','B','C'}
print(set)

{'B', 'A', 'C'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set={1,2,3,4,5}
print(set.clear)

<built-in method clear of set object at 0x78c7913cd9a0>

In [ ]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
set={1,2,3,4}
print(set,"\n"+"after operation")
set.remove(4)
print(set)

{1, 2, 3, 4}
after operation
{1, 2, 3}

In [ ]:
#Q 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
setunion= set1 | set2
print(setunion)

{1, 2, 3, 4, 5}

In [ ]:
#Q20.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
setintersection= set1 & set2
print(setintersection)

{3}

In [ ]:
#Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

dict={"name":"Dev rathore","age":24,"city":"patna"}
print(dict)

{'name': 'Dev rathore', 'age': 24, 'city': 'patna'}

In [ ]:
# Q22 write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dictionary= {'name': 'John', 'age': 25}
dictionary['country']="USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 23}
dictionary= {'name': 'Alice', 'age': 30}
print(dictionary["name"])

Alice

In [ ]:
#Q24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary ={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dictionary.pop("age"))

print(dictionary)

22
{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dictionary= {'name': 'Alice', 'city': 'Paris'}
if 'city'in dictionary:
  print("city exists in the dictionary")
else:
  print("city doesn't exits in dictionary")

city exists in the dictionary

In [3]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all
list=[2,4.5,"dev",True]
tuple=(3,6,"shriyam",7.5)
dict={"name":"dev","pin code":232322,"city":"patna"}
print(list)
print(tuple)
print(dict)

[2, 4.5, 'dev', True]
(3, 6, 'shriyam', 7.5)
{'name': 'dev', 'pin code': 232322, 'city': 'patna'}

In [9]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
list=[23,35,11,7,55,77,47]
list.sort()
print(list)

[7, 11, 23, 35, 47, 55, 77]

In [11]:
# Q28. Write a code to create a list with strings and print the element at the third index
list=["apple","banana","grapes","papaya"]
list[3]

'papaya'

In [13]:
#Q29. Write a code to combine two dictionaries into one and print the result.
dict={"name":"dev","city":"patna","mob no":66744838}
dict1={"emp id":103,"job":"data scintist","location":"benglor","salary":"15Lpa"}
dict.update(dict1)
print(dict)

{'name': 'dev', 'city': 'patna', 'mob no': 66744838, 'emp id': 103, 'job': 'data scintist', 'location': 'benglor', 'salary': '15Lpa'}

In [14]:
#Q30. Write a code to convert a list of strings into a set
list=["tea","coffee","coldrink","coffee"]
set(list)

{'coffee', 'coldrink', 'tea'}